<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeeats">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/g73vzua"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.FoodMaker.FoodMakerEditMealActivity"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFkseBYmA6FXx256QY0gju-En3rySU3dA"/>

        <activity android:name=".Activities.FoodMaker.FoodMakerEditProfileFragment"></activity>

        <activity android:name=".Activities.FoodBuyer.FoodBuyerOrderDetailedActivity"></activity>
        <activity
            android:name=".Activities.FoodMaker.FoodMakerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".LiveLocationService"
            android:foregroundServiceType="location">
        </service>
        <activity android:name=".Activities.FoodMaker.FoodMakerAddMealActivity" />
        <activity android:name=".Activities.DeliveryBoy.DeliveryBoyActivity" />
        <activity android:name=".Activities.FoodBuyer.FoodBuyerActivity" />
        <activity android:name=".Activities.FoodBuyer.FoodBuyerViewMakerActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>